*{
	font-family: Coming Soon, Monospace;
}

.btn-group{
	margin: 10px 10px;
}
.btn{
	margin-top: 5px;
	text-decoration: none;
	border: 1px solid gray;
	border-radius: 2px;
	color: black;
	padding: 2px 5px;
	background-color: lightgray;
	width: 100%;
	display: inline;
}
.btn:hover{
	background-color: gray;
	border:1px solid black;
}

.form{
	display: block;
	width: 	33.3%;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}

.secuence-form{
	display: inline-block;
	width:40%;

}

#sequence-selection{
	margin-left: 3%;
	margin-right: 3%;
	width: 30%;
	float: left;
	text-align: center;
}

.color-box{
	display: inline-block;
	border: 1px solid black;
	margin: 10px; 
	width:30px;
	height: 30px;
	border-radius: 5px;
	transition: all 1s;
}


table{
	width:100%;

}

th,td{
	border: 1px solid gray;

}

/*Class related to both tables*/
.running-game{
	border: 1px solid black;
	border-radius: 5px;
	height: 300px;
	margin-top: 40px;
	float:left;
	width: 30%;

}

.validation-error{
	background-color: red;
	color: white;
}