<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
	{% block tittle  %}
		Lobby de Vacas y toros
	{% endblock  %}
	</title>
	
<style>
.btn-group{
	margin: 10px 10px;
}
.btn{
	text-decoration: none;
	border: 1px solid gray;
	border-radius: 2px;
	color: black;
	padding: 2px 5px;
	background-color: aquamarine;
}

.form{
	text-align: center;
	padding-top: 20px;
}

.colum1{
	float:left;
}

.colum2{
	float:right;
}

.colum3{ 
	display: inline-block;	
}

.color-box{
	margin:5px 5px;
	border: 1px solid black;
	width:20px;
	height: 20px;
	color: white;
	border-radius: 5px;
}

</style>

</head>
<body>
	{% block content %}
	<div class="form">
		<h1>4 Colors Game</h1>
		<form action="" method="Post">
		<input id="name-input" style= "margin: 5px auto;"type="text" placeholder="Name" required>
		<div class="btn-group">
			<input id="btn-create" class="btn" type="button" value="Create">
			<input id="btn-join" class="btn" type="button" value="Join">
		</div>
	</div>
	</form>
	<p id="game-id" hidden>{{game_id}}</p>
	<script>
		document.querySelector('#name-input').focus();


		document.querySelector('#btn-create').onclick=function(e){
			var Name = document.querySelector('#name-input').value;
			var game_id= document.getElementById('game-id').innerHTML;
			window.location.pathname = '/game/create/'+ Name +'/' + game_id +'/';
		};

		document.querySelector('#btn-join').onclick=function(e){
			var Name = document.querySelector('#name-input').value;
			window.location.pathname = '/game/join/'+ Name + '/';
		};


	</script>
	{% endblock  %}


</body>
</html>