{% extends "base.html" %}
{% load static %}
{% block tittle  %}
	Create Game
{% endblock  %}

{% block content %}
	  	<div id="create-info" class="form">
			<h1>CREATE GAME</h1>
			<br>
			<h1>ID: <span id= "game_id" >{{game_id}}</span> </h1>
			<div class="create-form">
			<p>Share whit your friends</p>
			</div>
		</div>

		<div id="mytabla" class="running-game" style="display: none;">
			<div class="my-table">
				<table >
					<thead>
						<tr>
							<th colspan="4">Your History</th>
							<th>Cows</th>
							<th>Bulls</th>
						</tr>
					</thead>
					<tbody id="my-tbody">

					</tbody>
				</table>
			</div>
		</div>


		<div id="sequence-selection" style="display: none">
		{% include "select_secuence.html" %}
		</div>

		<div id="histable" class="running-game" style="display: none;">
			<div class="opponent-table">
				<table >
					<thead>
						<tr>
							<th colspan="4">Oponent's History</th>
							<th>Cows</th>
							<th>Bulls</th>
						</tr>
					</thead>
					<tbody id="opponent-tbody">

					</tbody>
				</table>
			</div>
		</div>

<script src="{% static '/js/game.js' %}">
</script>

{% endblock %}