{% extends "base.html" %}
{% block tittle  %}
	Create Game
{% endblock  %}

{% block content %}
<div class="form">
	<h1>CREATE GAME</h1>
	<br>
	<h1>ID:{{game_id}}</h1>
	<div class="create-form">
	<p>Shere whit your friends</p>
	{{game_id|json_script:"game_id"}}
</div>

<script>
	const game_id = JSON.parse(document.getElementById('game_id').textContent);

	// Aqui se crea la conexion Websocket desde el cliente
	const gameSocket= new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/game/'
		+ game_id
		+'/'
		);


	// Aqui debe recibir un evento que lo lleve a la pagina de running game

</script>
{% endblock %}