{% extends "base.html" %}
{% block tittle  %}
	Join Game
{% endblock  %}

{% block content %}
<div class="form">
	<h1>JOIN GAME</h1>
	<form action="" method="POST">
		{% csrf_token %}
		<input name="game_id" id="game-id-input" type="text" placeholder="game id">
		<div class="btn-group">
			<input id="btn-back" class="btn" type="button" value="Back">
			<input class="btn" type="submit" value="Next">
		</div>
		{% if novalido %}
			<p class="validation-error">Incorrect id</p>
		{% endif %}
	</form>


</div>
<script>

	document.querySelector('#btn-back').onclick=function(e){		
			window.location.pathname = '/game/';
		};


</script>
{% endblock %}