<div class="sequence-form">
	<h1 id="h1-tittle" >Color selection</h1>

	
	<div id="color-selection">
		<h3>Click on to select a color</h3>
		<div data-index="0" class="color-box pick-box" style="background-color:red"></div>
		<div data-index="1" class="color-box pick-box" style="background-color: orange"></div>
		<div data-index="2" class="color-box pick-box" style="background-color:blue;"></div>
		<div data-index="3" class="color-box pick-box" style="background-color:aquamarine"></div><br>
		<div data-index="4" class="color-box pick-box" style="background-color:pink;"></div>
		<div data-index="5" class="color-box pick-box" style="background-color:yellow;"></div>
		<div data-index="6" class="color-box pick-box" style="background-color:green"></div>
		<div data-index="7" class="color-box pick-box" style="background-color:black"></div>
	</div>
		
		<div class="color-sequence">
		<h3>Selected sequence</h3>

			<div data-index="1" class="color-box color-select"></div>
			<div data-index="2" class="color-box color-select"></div>
			<div data-index="3" class="color-box color-select"></div>
			<div data-index="4" class="color-box color-select"></div><br>

			<input id="clear-colors-button"class="btn" type="button" value="Clear" onclick="reset();">
			<input id="send-colors-button"class="btn" type="button" value="Send">			
		</div>	
		<p id="send-color-validation" style="color: red;"></p>
</div>


